
<%= render 'preorder/homepage/show_dont_tell' %>  
<div class="main_content left">
<%= render 'preorder/homepage/key_points' %>
<%= render 'preorder/homepage/other_points' %>
<%= render 'preorder/homepage/middle_reserve' %>  
</div>
<div class="sidebar2 right">
	<%= render 'preorder/homepage/rewards_sidebar' %>
</div>
<%= render 'preorder/homepage/faqs' %>
<%= render 'preorder/homepage/press' %>


	
